html, body {
    background: rgb(19, 19, 18);
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
  }
  canvas {
    display: block;
  }
  
  .footer {
    position:fixed;
  }
  .footer.P {
    color:rgb(63, 136, 143);
    margin-top:360px;
    margin-left:20px;
  }
  .footer.Q {
    color:rgb(255, 127, 80);
    margin-top:360px;
    margin-left:130px;
  }
  .footer.emphasis {
    color:rgb(50, 205, 50);
    margin-top:387px;
    margin-left:20px;
  }