@font-face {
  font-family: Sora;
  src: url('./externalFonts/Sora/Sora-VariableFont_wght.ttf');
}

@font-face {
  font-family: Material Icons;
  src: url('./externalFonts/GoogleMaterialIcons/MaterialIcons-Regular.ttf');
}

.chromeMaterial {
  font-family: 'Material Icons' !important;
  font-feature-settings: 'liga';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow: hidden;
  background: rgb(19, 19, 18);
  margin: 0;
  padding: 0;
  font-family: "Sora";
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

canvas {
  display: block;
}

.footer {
  /* zu spät aufgefallen, dass switches.css ebenfalls footer als class benutzt ...*/
  position: absolute;
}

.footer.first {
  top: 370px;
}

.footer.second {
  top: 393px;
}

.footer.third {
  top: 416px;
}

.footer.fourth {
  top: 439px;
}

.footer.P {
  color: rgb(63, 136, 143);
  left: -20px;
}

.footer.Q {
  color: rgb(255, 127, 80);
  left: 80px;
}

.footer.emphasis {
  color: rgb(50, 205, 50);
  left: -20px;
}

.footer.step {
  color: rgb(254, 44, 84);
  left: -20px;
}

.footer.white {
  color: white;
  left: -20px;
}







.displayNone {
  display: none;
}

#mainModalText {
  height: 160px;
  white-space: pre;
  text-align: left;
  overflow: hidden;
}

#mainModalHeader {
  color: white;
  background-color: #323232;
}

#mainModalContent {
  color: white;
  background-color: #323232;
}

#mainModalInputRangeNumberInputContainer {
  top: -50px;
}

#mainModalInputRange {
  height: 15px;
}

#mainModalFooterBtn1 {
  z-index: 5 !important;
}

#mainModalFooterBtn2 {
  z-index: 5 !important;
}

#mainModalSplitMode {
  height: 0px;
}

#listGroupSplitMode {
  margin-top: -120px;
}








#uploadCSVDiv {
  position: absolute;
  left: 730px;
  top: 27px;
}

#uploadCSV {
  font-size: 24px;
  color: white;
  cursor: pointer
}

#uploadCSV:before {
  content: '\E2C6';
}

#uploadCSV:hover {
  color: #2497E3 !important;
}

#uploadCSVText {
  position: relative;
  color: white;
  font-size: 15px;
  left: -89px;
  top: 8px;
}

#uploadInput {
  display: none
}

#CSVTable {
  margin-top: -48px;
}

@-moz-document url-prefix() {
  #CSVTable {
    margin-top: -83px;
  }
}

#CSVTableDiv {
  margin-top: -150px;
  max-height: 410px;
  overflow: auto;
}



#btn_createNewGraph {
  margin-left: -40px;
}

#CSVEditInputXContainerDiv {
  width: 33%;
  top: -63px;
  left: 215px;
}

#CSVEditInputYContainerDiv {
  width: 33%;
  top: -165px;
  left: 499px;
}

#btn_csvEditContinue {
  position: relative;
  margin-left: 110px;
  margin-top: -62px;
}


#csvEditListGroup {
  max-height: 210px;
  overflow: auto;
  margin-top: -25px;
}

#csvEditListGroup a {
  background-color: rgb(33, 37, 41);
  border-color: rgb(33, 37, 41);
}


*,
*::after,
*::before {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}